/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* common styles */
body{
    font-family: 'Poppins', sans-serif;  
}
/* players profile styles */
.player{
    width: 330px;
}
.player-image{
    padding: 15px;
}
.player-image img{
    width: 300px;
    height: 256px;
}
.player-info{
    padding: 0 15px;
}
.player-info h2{
    font-size: 28px;
    color: #18191F;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 0px;
}
.player-info p{
    color: #6C6C6C;
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
}