/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* common styles */
body{
    font-family: 'Poppins', sans-serif;  
}
/* players profile styles */
.players-profile{
    display: flex;
    justify-content: center;
}
.players{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    /* background-color: #e6fff7; */
}
.player{
    width: 330px;
    background-color:  #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-top: 27px;
}
.player-image{
    width: 300px;
    height: 256px;
    padding: 15px 15px 0px 15px;
}
.player-image img{
    width: 100%;
    height: 100%;
}
.player-info{
    padding: 0 15px;
}
.player-info h2{
    font-size: 28px;
    color: #18191F;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 0px;
}
.player-info p{
    color: #6C6C6C;
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
}